@import "_mixins";

.base {
  height: 100vh;
  flex-grow: 1;
  background-color: rgb(248, 240, 227);
  padding: 2rem;
  @include respond(phone) {
    padding: 1rem;
  }
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.base::-webkit-scrollbar {
  display: none;
}
