@import "_mixins";
.base {
  flex-grow: 1;
  @include respond(small-desktop) {
    max-width: 65vw;
  }
  @include respond(tab-port) {
    max-width: 100vw;
  }
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.8rem;
  padding: 1.5rem;
  margin: 1.5rem;
  @include respond(phone) {
    margin: 0.25rem;
  }
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  background-color: #3d405b;
}

.editBtn {
  height: 2.5rem;
  width: 2.5rem;
}
.editBtn button {
  all: unset;
}

.Btn {
  margin: 0.8rem 0 0 0;
}
